/* CritterCard.css */
.card-container {
  width: 100%; /* Make card container responsive */
  height: 250px; /* Increase height */
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.critter-card {
  width: 100%; /* Increase width */
  height: 250px; /* Increase height */
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.critter-card img {
  width: 100%; /* Increase image width */
  height: 150px; /* Increase image height */
  object-fit: contain;
}
