* {
  @apply box-border m-0 p-0;
}
body {
  @apply bg-[#232222] text-[white] text-[22px] text-center;
  font-family: "Dekko";
}
.loading-logo {
  @apply w-[300px] h-auto animate-[fadeInOut_2s_infinite_alternate] w-auto h-[200px] animate-[fadeInOut_1s_infinite] opacity-0 transition-opacity duration-[0.5s] mt-5;
}
.nav-bar {
  @apply flex justify-between items-center w-full bg-[#232222] px-[5%] py-2.5;
}
.logo-container {
  @apply mr-2.5;
}
.logo {
  @apply w-20 h-auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #bbbbbbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.game-name {
  @apply flex-1 flex items-center justify-center text-center text-[5vw] font-[bold] text-[#ccc] text-[5vw] m-0;
}
.loading-container {
  @apply flex justify-center items-start h-[80vh];
}
.critter-list {
  @apply grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] gap-5 max-w-[90%] opacity-100 transition-opacity duration-[1s] ease-[ease-in-out] m-20;
}
@media (min-width: 1200px) {
  .critter-list {
    @apply grid-cols-[repeat(5,1fr)] gap-5;
  }
}
.critter-list.shuffling {
  @apply opacity-0;

}
.score {
  @apply text-xl text-[white] mr-5;
}
.winning-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(147, 135, 135, 0.8);
  color: white;
  text-align: center;
  font-size: 70px;
  padding: 20px;
  border-radius: 5px;
  z-index: 999; /* Ensure it appears above other elements */
}

/* Style for the close button */
.close-button {
  font-size: 24px;
  cursor: pointer;
  background-color: #473607;
  color: white;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .winning-message {
    font-size: 30px;
    padding: 10px; 
  }
  .close-button {
    font-size: 18px; 
    padding: 8px 16px;
  }
}

.score-bar {
  @apply flex flex-col items-center text-lg mt-5;
}
.score,
.best-score {
  @apply mr-5;
}
.loading-logo-container {
  @apply flex flex-col items-center justify-center mt-[150px];

}
.loading-logo {
  @apply h-16 w-16 transition-opacity ease-in duration-700 opacity-100 hover:opacity-10;
}
.loading-logo {
  @apply w-auto h-48 transition-opacity duration-500 opacity-100 hover:opacity-0;
}  
.loading-logo.visible {
  @apply opacity-100;
}
.loading-logo.hidden {
  @apply opacity-0;
}
.loading-logo p {
  @apply text-sm text-[#888] mt-2.5 mb-0 mx-0;
}
.mute-switch-container {
  @apply fixed flex items-center right-5 bottom-5;
}
.react-switch {
  @apply w-[60px] h-[30px];
}
