* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232222;
  color: white;
  font-family: 'Dekko';
  font-size: 22px;
  text-align: center;
}


.loading-logo {
  width: 300px;
  height: auto;
  animation: fadeInOut 2s infinite alternate;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  width: 100%;
  background-color: #232222;
}

.logo-container {
  margin-right: 10px;
}

.logo {
  width: 80px;
  height: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #bbbbbbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.game-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  color: #ccc;
  margin: 0;
  font-size: 5vw;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
}

.loading-logo {
  width: 150px;
  height: auto;
  animation: fadeInOut 2s infinite alternate;
}

.critter-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 90%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
@media (min-width: 1200px) {
  .critter-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}

.critter-list.shuffling {
  opacity: 0; /* Set opacity to 0 during shuffling */
}
.score {
  font-size: 20px;
  color: white;
  margin-right: 20px;
}
.winning-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 70px;
}

.close-button {
  font-size: 18px; /* Adjust the font size as needed */
  padding: 10px 20px; /* Adjust the padding as needed */
  cursor: pointer;
  background-color: #473607;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #926703;
}
.score-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
}

.score, .best-score {
  margin-right: 20px;
}